hardware/*/*-backups
hardware/*/#auto_saved_files#
hardware/*/fp-info-cache
hardware/*/*.kicad_prl
rtl/endeavour2*/work_*
rtl/endeavour2*/outflow
rtl/endeavour2*/endeavour2a.f
rtl/endeavour2*/la0_waveform*
rtl/endeavour2*/debug_profile.wizard.json
rtl/endeavour2*/ip/Ddr3Controller/ddr3*
rtl/endeavour2*/ip/Ddr3Controller/Ddr3*
rtl/endeavour2*/ip/Ddr3Controller/ipm
rtl/project
rtl/target
rtl/verilog/EndeavourSoc.v*
rtl/simWorkspace
software/.clangd
software/bios/ter*
software/buildroot/ter*
software/bios/charmap.S
software/textwm2/textwm2
~*
*.log
*.lock
*.bin
*.mem
*.elf
*.o
